__pycache__
*.pyc
.venv/
**/.esphome/
*.egg-info/

.esphome_repo
.esp-adf
.tox/
.pio/
.temp/
.vscode/

build/
/components
managed_components/
sdkconfig.esp32-idf
sdkconfig.esp32-s3-idf

*/secrets.yaml
